body{
    background-image: url("../PG Images/PG4/wood background.jpg");
}
#Box {
    position: absolute;
    display: block;
    font-size: 0;
    top: 50%;
    left: 50%;
    height: 456px;
    width: 456px;
    margin-left: -235px;
    margin-top: -251px;
    background-color: rgb(197, 197, 197);
    border: black solid 3px;
}
.p {
    position: relative;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    font-size: 120px;
    padding: 0px;
    height: 150px;
    width: 150px;
    border: black solid 1px;
}
.p:hover {
    background-color: grey;
}
.result {
    position: fixed;
    bottom: 50px;
    color: yellowgreen;
    font-size: 100px;
}